.example-icon {
  padding: 0 14px;
}
.example-spacer {
  flex: 1 1 auto;
}

.p {
  // font: oblique bold 120% cursive;
  font-family: 'Satisfy', cursive;
  color: #FFCC00;
  font-size: 40px;
}

.p2 {
  // font: oblique bold 120% cursive;
  font-family: 'Satisfy', cursive;
  color: #FFCC00;
  font-size: 27px;
}

.spacer{
  // letter-spacing: normal;
  letter-spacing: -0.5mm;
}
