<!-- <p>Pero por su puesto que si, a comenzar a programar el blog de municipalidad de cañete</p> -->

<!-- <div [style.height]="auto"> -->
  <mat-carousel timings="250ms ease-in" [autoplay]="true" interval="5000" color="primary" maxWidth="auto" proportion="35"
    slides="5" [loop]="true" [hideArrows]="false" [hideIndicators]="true" [useKeyboard]="true" [useMouseWheel]="false"
    orientation="ltr">
    <mat-carousel-slide fxFlex #matCarouselSlide *ngFor="let slide of slides; let i = index" [image]="slide.image"
      overlayColor="#00000040" [hideOverlay]="true">
    </mat-carousel-slide>
  </mat-carousel>

  <br>

  <mat-card>
    prueba
  </mat-card>
  <mat-card>
    prueba
  </mat-card>
  <mat-card>
    prueba
  </mat-card>
  <mat-card>
    prueba
  </mat-card>
  <mat-card>
    prueba
  </mat-card>
  <mat-card>
    prueba
  </mat-card>
<!-- </div> -->

ngx
